asn1crypto==0.24.0
astroid==1.6.6
bintrees==2.0.7
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
coinmarketcap==5.0.3
cryptography==2.6.1
feedparser==5.2.1
future==0.17.1
gdax==1.0.6
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
pycparser==2.19
pylint==2.3.1
python-telegram-bot==11.1.0
requests==2.21.0
requests-cache==0.5.0
six==1.10.0
telegram==0.0.1
typed-ast==1.4.0
urllib3==1.24.2
websocket-client==0.40.0
wrapt==1.11.2
